<nz-steps [(nzCurrent)]="current">
    <nz-step *ngFor="let step of steps" [nzTitle]="step.title"></nz-step>
</nz-steps>

<div class="steps-content" *ngIf="current === 0">
  <label > {{steps[0].content[0].name}} </label>
  <input [type]="steps[0].content[0].type" />
</div>
<div class="steps-content" *ngIf="current === 1">
  <label > {{steps[1].content[0].name}} </label>
  <nz-input [nzType]="steps[1].content[0].type" [(ngModel)]="settings.email">
    <ng-template #prefix>
        <i class="anticon anticon-user"></i>
      </ng-template>
  </nz-input>
</div>
<div class="steps-content" *ngIf="current === 2" >
  <!--<input type="text" [(ngModel)]="name" />-->
  <label > {{steps[2].content[0].name}} </label>
  <nz-input [nzType]="steps[2].content[0].type" [(ngModel)]="settings.address" >
  </nz-input>
</div>

<nz-modal [nzVisible]="preview" [nzTitle]="'Settings Preview'" 
    [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
  <ng-template #modalContent>
    <p><b>Your Settings</b><p>
    <p><b>Email</b>: {{settings.email}}</p>
    <p><b>Address</b>: {{settings.address}}</p>
  </ng-template>
</nz-modal>

<div class="steps-action">
  <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0">
    <span>Previous</span>
  </button>
  <button nz-button [nzType]="'default'" (click)="next()" *ngIf="current < (steps.length-1)">
    <span>Next</span>
  </button>
  <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === (steps.length-1)">
    <span>Done</span>
  </button>
</div>