

.card {
    padding: 50px 0;
    text-align: center;
    overflow: hidden
}

@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: nb-theme(card-padding) 0 0 0;
  }

  .d3-chart {
    width: 100%;
    height: nb-theme(card-height-large);
    display: flex;
    align-items: center;
  }
  .zoomin{
    top: 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 10px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
    box-sizing: content-box;
  }
  .zoomout{
    top: 30px;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 10px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
    box-sizing: content-box;
  }


}